@import "setup";

body {
    min-width: 280px; /* Smallest width I want to target */

}

ul, li, h1, h2, h3, div, input, button, form, p{
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    min-height: 100vh;
    height: 400px;
    padding: 5vh 20px;
}

form {
    height: 5vh;
    min-height: 5%;
    display: flex;
    width: 100%;
}

input, button {
    border: none;
    height: 100%;
}

input {
    min-width: 0;
    flex-grow: 1;
    padding-left: 10px;
    margin-right: 10%;
    border-bottom: 1px solid #000;
}

button {
    min-width: 100px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }
}

.chatArea, .otherArea {
    width: calc((100% - 5vh)/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.messageWindow {
    height: 80vh;
    min-height: 80%;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    list-style: none;
    border: 1px solid #000;
}

.loggedIn {
    border: 3px solid #000;
    text-align: center;
    margin: 0;
}

.loggedInButton {
    display: none;
}

.roomList, .userList {
    height: calc(65vh/2);
    min-height: calc(65%/2);
    width: 100%;
    background: #fff;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #000;
}

.chatMessageContainer {
    width: 90%;
    margin: 1vh auto;
    word-wrap: break-word;
    border-left: 3px solid lightgray;
}

.chatMessageName {
        padding-left: 10px;
        font-weight: bold;
}

.chatMessage {
    width: 100%;
    padding: 1vh 10px;
}

.ownMessage {
    // text-decoration: underline;
    border-color: grey;
}

.selectedRoom {
    color: #fff;
    background: #000;
}

.injectJoin {
    color: grey;
    padding: 0 0 0 10px;
    border: none;
    

    & .chatMessageName, .chatMessage {
        background: none; 
        border: none;
        padding: 0;
    }
}

.userList li, .roomList li {
    width: 100%;
    padding: 1vh 10px;
}

.listTitle {
    background: whitesmoke;
    text-decoration: underline;
}

@media (max-width: 700px) { 
    .wrapper {
        padding: calc(10vh/3) 20px;
    }

    .chatArea {
        width: calc((100% - (10vh/3)) * 0.6);
    }

    .otherArea {
        width: calc((100% - (10vh/3)) * 0.4);
    }
    
    form {
        flex-direction: column;
        height: 10vh;
        min-height: 10%;
    }

    input {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 460px) { 
    .wrapper {
        flex-direction: column;
        padding: 20px;
    }

    .chatArea, .otherArea {
        width: 100%;
    }
    
    .messageWindow {
        height: calc(100vh - 180px);
        min-height: 200px;
        margin-bottom: 20px;
    }

    form {
        height: 120px;
    }
    input, button {
        height: 50px;
    }
    
    form, input {
        margin-bottom: 20px;
    }

    .userList {
        margin-bottom: 20px;
    }

}