@import "setup";

body {
    // background: lightcyan;
}

ul, li, h1, h2, h3, div, input, button, form, p{
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    height: 100vh;
    padding: 5vh 0;
}

form {
    height: 5vh;
    display: flex;
    width: 100%;
}

input, button {
    border: none;
    height: 100%;
}

input {
    min-width: 0;
    flex-grow: 1;
    padding-left: 10px;
    margin-right: 10%;
    border-bottom: 1px solid #000;
}

button {
    min-width: 100px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }
}

.chatArea, .otherArea {
    width: calc((100% - 5vh)/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.messageWindow {
    height: 80vh;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    list-style: none;
    border: 1px solid #000;
}

.loggedIn {
    border: 3px solid #000;
    text-align: center;
    margin: 0;
}

.loggedInButton {
    display: none;
}

.roomList, .userList {
    height: calc(65vh/2);
    width: 100%;
    background: #fff;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #000;
}

.chatMessageContainer {
    width: 90%;
    margin: 1vh auto;
    word-wrap: break-word;
    border-left: 3px solid lightgray;
}

.chatMessageName {
        padding-left: 10px;
        font-weight: bold;
}

.chatMessage {
    width: 100%;
    padding: 1vh 10px;
}

.ownMessage {
    // text-decoration: underline;
    border-color: grey;
}

.selectedRoom {
    color: #fff;
    background: #000;
}

.injectJoin {
    color: grey;
    padding: 0 0 0 10px;
    border: none;
    

    & .chatMessageName, .chatMessage {
        background: none; 
        border: none;
        padding: 0;
    }
}

.userList li, .roomList li {
    width: 100%;
    padding: 1vh 10px;
}